
    body {
      margin: 0;
      overflow: hidden;
      height: 100vh;
      background-color: black;
    }

    #highlight {
      position: absolute;
      pointer-events: none;
      transition: 0.1s ease-out;
      width: 250px;
      height: 250px;
      background: radial-gradient(circle, rgba(0, 255, 0, 0.5) 0%, rgba(0, 255, 0, 0) 70%);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: screen;
    }

    #backgroundImage {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }
